/* body {background-color: #fff5c8;} */
body {background-image: url(../images/gatinho_triste_na_janela_redimensionado_200x300.jpg);background-repeat: no-repeat; /* para a imagem não ficar repetindo */
background-size: cover; /* para a imagem cobrir todo o espaço disponível na tela sem prejudicar a dimensão */
background-position: center;} /* para a imagem ficar centralizada, para caso ela não ocupe toda a tela */

strong {color: #ffc200;}
em {color: #c60000;}
h1 {color: #054717;}

h2 {color: #054717;}
h3 {color: #c60000;}

table {border: 2px solid white; /*fazer a borda da tabela, mas só a de fora */
       width: 500px;
       border-spacing: 3px;
       margin-left: auto;  /*o auto vai respeitar outros conteúdos presentes na página */
       margin-right: auto;}

 td {padding: 10px;/*espaço entre a borda da cédula e oconteúdo */
     border: 2px solid white;
     /* background-color: purple; */
     background-image: url(../images/fundo_teste.jpg);

     color: black;
     }

th {padding: 5px; /*espaço entre a borda da cédula e título/cabeçalho */
    border: 2px solid white;
    background-color: violet;
    color: black;
     }

div {
    border: 1px solid black;
}

div div{
    border: 4px solid black;
}

label {color:#ffffff}