*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4;
}

#cabecalho_principal{
    background-color: #2c3e50;
    color:white;
    padding: 20px;
}

footer{
    background-color: #34495e;
    color: white;
    padding: 20px;
}

footer a{
    color: #76c7c0 ;
}

header > p{
    font-size: 0.9;
    font-style: italic;
}

article p{
    color: gray;
}

.destaque{
    color: blue;
    font-weight: bold;
}

input[type='email']{
    border:none;
    border-bottom: 2px solid green;
    padding: 5px;
}

h2 + p{
    margin-top: 10px;
}