  /* Reset universal do Box Model */
 * {box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

 body {
 font-family: sans-serif;
 padding-top: 20px;
border: 2px dashed #ccc; ; 

 }

 .container {
position: relative;
 padding: 10px;
 margin-bottom:20px;
 }
 
 
 
 /* Estilo base para todas as caixas */
 .caixa {
 width:200px;
 height:100px;
 padding:10px;
 border:3px solid #333333;
 margin:10px; 
 }
 
 /* Dando cores para identificar */
 #caixa1 { 
background-color:#e67e22; }
 #caixa2 { 
background-color: #2ecc71; }
 #caixa3 { background-color: #3498db; }
 #caixa4 { background-color: #9b59b6; }

 #caixa2 {
    position: relative;
    top: 10px; /* Desce 30px */
    left: 200px; /* Vai 50px para a direita */
   
    /* O espaço original da Caixa 2 
(verde) ainda está lá,
       mas a caixa 3 (azul) vai se 
sobrepor a ela! */
 z-index:15; 
/* Fica na frente da caixa 3 */}

#caixa3 {
 position: 
absolute;
 top: 51px;  
/* 5px do topo do .container */
 left: 90px;
 width:100px;
 z-index:10; 
}

 #caixa4 {
 position: fixed;
 bottom: 100px; 
/* 10px do final da janela */
 right: 10px;  
/* 10px da direita da janela */
 width: 250px;
 /* Esta caixa vai ficar no canto da tela mesmo se você rolar a página */
 }

.avatar-flutuante { /*para fazer o conteúdo de texto ficar em volta da imagem*/
 float:right;
 width:300px;
 margin-right:15px; 
/* Espaço entre a imagem e o texto */
}